@model dynamic

@{
    ViewBag.Title = "Angular course";
}

<style>
    .course {
        padding-left: 12px;
    }

    .module-list ol {
        padding-left: 24px;
    }
</style>


<div class="course">
    <h2>Building Single Page Applications with Angular</h2>
    
    <p>
        Angular (2+) is a very popular framework for building line of business applications that run in the browser. In this course you will learn everything that is required to get started with Angular and build solid well designed applications.
    </p>    

    <h3>
        What is Angular?        
    </h3>
    <p>
        Angular is an open source application framework developed at Google. It is developed and used by many companies and developers worldwide.
    </p>

    <p>
        In this course you will learn how to get started with Angular. You will use TypeScript, the recommended language for Angular, to build rich interactive Angular applications. These applications will include the basic architecture, the building blocks, doing HTTP requests, data entry forms as well as single page applications.
    </p>

    <h3>Want to know more?</h3>
    <p>
        Would you like more information or a customized course for your company? Please contact Maurice at <a href="mailto:Maurice@TheProblemSolver.nl">Maurice@TheProblemSolver.nl</a>.
    </p>

    <h3>Target Audience</h3>
    <p>
        This course is intended for developers and architects who want to leverage Angular for their line of business applications.
    </p>

    <h3>
        Modules and topics    
    </h3>
    
    <p>
        This three day course consists of 9 modules, each focussing on a specific topic. Each module consists of a lecture explaining the subject as well as a hands on lab where each participant uses the technology to build an application.
    </p>

    <ol class="module-list">
        <li>
            <h4>TypeScript introduction</h4>
            
            <ol>
                <li>                    
                    Language basics
                </li>   
                <li>                    
                    The compiler
                </li>   
                <li>                    
                    Using tsconfig.json to configure TypeScript
                </li>   
                <li>                    
                    Type system/inference
                </li>   
                <li>
                    Fat arrow functions
                </li>
                <li>
                    OO with TypeScript
                </li>   
            </ol>
        </li>
        <li>
            <h4>Advanced TypeScript</h4>
            <ol>
                <li>
                    Generics
                </li>
                <li>
                    Decorators
                </li>
                <li>
                    Tagged union types
                </li>
                <li>
                    Async Await
                </li>
                <li>
                    Unit testing TypeScript code
                </li>
                <li>
                    Better type checking with noImplicitAny and strictNullChecks
                </li>
            </ol>
        </li>
        <li>
            <h4>Tooling for Angular developers</h4>
            <ol>
                <li>
                    
                    NPM
                </li>
                <li>
                    Semantic Versioning
                </li>
                <li>
                    Gulp
                </li>
                <li>
                    Webpack
                </li>
                <li>
                    TSLint
                </li>
            </ol>
        </li>
        <li>
            <h4>Angular introduction</h4>
            <ol>
                <li>
                    
                    The Angular architecture
                </li>
                <li>
                    Getting started with Angular
                </li>
            </ol>
        </li>
        <li>
            <h4>The major building blocks of an Angular application</h4>
            <ol>
                <li>
                    
                    Modules
                </li>
                <li>
                    Components
                </li>
                <li>
                    Templates
                </li>
                <li>
                    Directives
                </li>
                <li>
                    Pipes
                </li>
                <li>
                    Services
                </li>
                <li>
                    Dependency injection
                </li>
            </ol>
        </li>
        <li>
            <h4>Angular components in depth</h4>
            <ol>
                <li>
                    
                    Templates
                </li>
                <li>
                    Directives
                </li>
                <li>
                    Data Binding
                </li>
                <li>
                    Lifecycle Hooks
                </li>
                <li>
                    Input & Output binding
                </li>
            </ol>
        </li>
        <li>
            <h4>Doing Ajax requests</h4>
            <ol>
                <li>
                    
                    Using RxJS
                </li>
                <li>
                    Doing Http requests in an Angular application
                </li>
            </ol>
        </li>
        <li>
            <h4>Data entry forms</h4>
            <ol>
                <li>
                    
                    Form validation
                </li>
                <li>
                    Reactive angular forms
                </li>
            </ol>
        </li>
        <li>
            <h4>Single Page Applications</h4>
            <ol>
                <li>
                    
                    The Angular router
                </li>
                <li>
                    Lazy loading application parts
                </li>
            </ol>
        </li>
    </ol>
    
    <h3>Prerequisite experience</h3>
    <ol>
        <li>Six months of web development using HTML, ECMAScript 2015 and CSS.</li>
        <li>Prior experience with Angular (2+), AngularJS (1) or TypeScript is not required.</li>
        <li>A basic knowledge of using NPM packages is beneficial but not required.</li>
        <li>A basic knowledge WebPack is also beneficial but not required.</li>
    </ol>    


</div>