@model dynamic

@{
    ViewBag.Title = "Courses";
}

<h2>title</h2>

<ul>
    <li>@Html.ActionLink("Building Single Page Applications with Angular", "Angular")</li>
    <li>@Html.ActionLink("Building Single Page Applications with React", "React")</li>
    <li>@Html.ActionLink("TypeScript for React developers", "TypeScriptForReactDevelopers")</li>

</ul>


@section contentRight {
}
