@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span><a href="mailto:Maurice@TheProblemSolver.nl">Maurice@TheProblemSolver.nl</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span>+31 (0)79 3410818</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Skype</h3>
    </header>
    <p>
        <span>

            <!--
            Skype 'Call me!' button
            http://www.skype.com/go/skypebuttons
            -->
            <script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>

            <a href="skype:mauricedb?call">
                <img src="http://download.skype.com/share/skypebuttons/buttons/call_green_white_153x63.png" style="border: none;" width="153" height="63" alt="Call me!"></a>
        </span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Sloepkade 64<br />
        2725 EZ Zoetermeer<br />
        the Netherlands
    </p>
</section>

<section class="contact">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.nl/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Sloepkade+64,+Zoetermeer&amp;aq=0&amp;oq=sloep&amp;sll=52.212992,5.27937&amp;sspn=5.64875,16.907959&amp;ie=UTF8&amp;hq=&amp;hnear=Sloepkade+64,+2725+EZ+Zoetermeer,+Zuid-Holland&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
    <small><a href="https://maps.google.nl/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Sloepkade+64,+Zoetermeer&amp;aq=0&amp;oq=sloep&amp;sll=52.212992,5.27937&amp;sspn=5.64875,16.907959&amp;ie=UTF8&amp;hq=&amp;hnear=Sloepkade+64,+2725+EZ+Zoetermeer,+Zuid-Holland&amp;t=m&amp;z=14&amp;iwloc=A" style="color: #0000FF; text-align: left">View Larger Map</a></small>
</section>
