@{
    ViewBag.Title = "Presentations";
}

<h2>Presentations</h2>

<iframe src="http://www.slideshare.net/mauricedb/slideshelf" width="615px" height="470px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border: none;" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
@*<iframe src="http://www.slideshare.net/mauricedb/slideshelf" width="760px" height="570px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:none;" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>*@

@section contentRight {
    
}