@{
    ViewBag.Title = "React reading list";
}

@section Styles {
    <link href="/static/css/main.d22fbfb7.css" rel="stylesheet">
}



<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>

@section Scripts {
    <script type="text/javascript" src="/static/js/main.011b5b58.js"></script>
}
