@model IEnumerable<TheProblemSolver.Models.BlogItem>

@{
    ViewBag.Title = "Recent articles";
}

<style>
    .article .article-desc {
        width: 440px;
    }

@@media (min-width: 1200px) {
    .article .article-desc {
        width: 640px;
    }
}
</style>

<!-- Recent Articles -->
<h3 class="title">Recent articles</h3>


@foreach (var item in Model)
{
    <!-- Article -->
    <div class="article box">
        <div class="article-desc">
            <h3><a href="@item.Uri">@item.Title</a></h3>
            <p class="info">Published: <strong>@item.Date.ToShortDateString()</strong></p>
            @*<p class="nomb">Lorem ipsum dolor sitae amet, consectetuer ad. Duisa eros. Nunc imperdiet, lacus quias posule accumsan, elita nunc eleifend augue id uipera enim augue id eros. Etiam justo.</p>*@
            <p class="nomb">@item.ShortDescription</p>
        </div>
    </div>
    <!-- /article -->
}

<p class="t-right"><a href="#" class="more">Older articles</a></p>
