@model TheProblemSolver.Models.BlogItem


    <!-- Topstory -->
    <div id="topstory-top"></div>
    <div id="topstory" class="box">

@*        <div id="topstory-img">
            <img src="~/tmp/180x135.gif" width="180" height="135" alt="" />
        </div>*@

        <div id="topstory-desc">

            <h2><a href="#">Lorem ipsum dolor sit amet</a></h2>
            <p class="info">Published: <strong>16.7.2008</strong> by: <strong><a href="#">John Doe</a></strong></p>
            <p class="nomb">Lorem ipsum dolor sit amet, consectetuer ad. Duis eros. Nunc imperdiet, lacus quias posule accumsan, elit nunc eleifend augue id uipera enim augue id eros. Etiam justo.</p>

        </div>
        <!-- /topstory-desc -->

    </div>
    <!-- /topstory -->
@*    <div id="topstory-list" class="box">

        <p class="nom">
            <a href="#">
                <img src="~/tmp/105x75.gif" width="105" height="75" alt="" />
            </a>
            <a href="#">
                <img src="~/tmp/105x75.gif" width="105" height="75" alt="" />
            </a>
            <a href="#">
                <img src="~/tmp/105x75.gif" width="105" height="75" alt="" />
            </a>
            <a href="#" class="last">
                <img src="~/tmp/105x75.gif" width="105" height="75" alt="" />
            </a>
        </p>

    </div>

    <!-- /topstory-list -->
    <div id="topstory-bottom"></div>*@
